* {
  font-family: monospace, sans-serif;
}
body {
  min-width: 320px;
  background: lightskyblue;
}
button {
  cursor: pointer;
  outline: none;
  border: 1px solid gray;
  transition: 0.3s;
  /* get reed of selections via tap */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
button:hover {
  transform: scale(1.2);
}
.wrapper_todos {
  position: relative;
  min-width: 320px;
  border: 1px solid black;
  border-radius: 16px;
  box-sizing: border-box;
  margin: 8px;
  padding: 12px;
  background: palegoldenrod;
}
.wrapper_todos h1 {
  margin: 0 auto 20px;
  border-radius: 20px;
  border: 3px dashed black;
  box-sizing: border-box;
  width: 88%;
  text-align: center;
  background: whitesmoke;
  white-space: pre-wrap;
  padding: 12px;
  font-size: 26px;
}
.wrapper_todos h1 span {
  color: crimson;
}
.wrapper_todos .wrapper_todos__pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 0 auto 20px;
  font-size: 14px;
  font-family: sans-serif;
}
.wrapper_todos .wrapper_todos__pagination button {
  width: 80px;
  height: 32px;
  font-size: 18px;
}
.wrapper_todos .wrapper_todos__pagination button:first-child {
  border-radius: 20px 0 0 20px;
}
.wrapper_todos .wrapper_todos__pagination button:last-child {
  border-radius: 0 20px 20px 0;
}
.wrapper_todos .wrapper_todos__header {
  margin: 0 auto 20px;
  width: 88%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background: lightgoldenrodyellow;
  padding: 8px;
  border-radius: 16px;
  box-sizing: border-box;
}
.wrapper_todos .wrapper_todos__header button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  background: lightgreen;
  border-radius: 25%;
  font-size: 24px;
}
.wrapper_todos .wrapper_todos__header button.login {
  background: lavenderblush;
}
.wrapper_todos .wrapper_todos__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  justify-items: center;
  width: 90%;
  margin: 0 auto;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 12px;
  background: white;
  padding: 8px;
  width: 260px;
  margin: 8px;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item.dead {
  background: lightcoral;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item.complete {
  background: lightgreen;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item img {
  border: 1px solid black;
  border-radius: 20px;
  display: block;
  max-width: 250px;
  max-height: 190px;
  height: 190px;
  width: auto;
  object-fit: cover;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
  vertical-align: center;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__title,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__text,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__date,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__status {
  font-weight: 700;
  margin: 8px 0;
  font-size: 20px;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__title span,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__text span,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__date span,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__status span {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  max-width: 98%;
  overflow-wrap: break-word;
}
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__title span,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__status span,
.wrapper_todos .wrapper_todos__list .wrapper_todos__list__item article .wrapper_todos__list__item__date span {
  font-size: 22px;
  display: inline;
}
.wrapper_todos .wrapper_todos__todo-popup {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper_todos .wrapper_todos__todo-popup.popup_invisible {
  display: none;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body {
  width: 300px;
  text-align: center;
  background: white;
  padding: 12px;
  border-radius: 20px;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .input-bullet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .input-bullet.file_img {
  flex-direction: column;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .input-bullet img {
  margin: 8px 0;
  padding: 2px;
  max-width: 250px;
  max-height: 190px;
  height: 190px;
  width: auto;
  object-fit: cover;
  border-radius: 12px;
  border: 1px solid black;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body textarea,
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body input,
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body select {
  width: 75%;
  box-sizing: border-box;
  height: 32px;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body textarea.invalid,
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body input.invalid,
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body select.invalid {
  border: 4px solid red;
  outline: none;
  box-sizing: border-box;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body textarea {
  resize: none;
  height: 120px;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .wrapper_todos__todo__body__btns {
  margin-top: 20px;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .wrapper_todos__todo__body__btns button {
  width: 80px;
  height: 32px;
  border-radius: 20px;
  margin: 0 8px;
  border: none;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .wrapper_todos__todo__body__btns button:nth-child(1n) {
  background: firebrick;
  color: white;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .wrapper_todos__todo__body__btns button:nth-child(2n) {
  background: lightpink;
  color: black;
}
.wrapper_todos .wrapper_todos__todo-popup .wrapper_todos__todo__body .wrapper_todos__todo__body__btns button:nth-child(3n) {
  background: lightgreen;
  color: black;
}
/*# sourceMappingURL=index.css.map */